<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <h1>Bon Voyage, <span th:text="${fullName}"></span></h1>

    <p>Confirmation number: #<span th:text="${confirmationNumber}"></span></p>
<!--    <p>Seat: <span th:text="${seat}"></span></p>-->

    <br><p>----------------</p><br>

    <p>Flight summary</p>

    <p>Departure &emsp;<span th:text="${departFlightNumber}"></span>&emsp;<span th:text="${departDate}"></span></p>
    <p><span th:text="${departTime}"></span>&emsp;<span th:text="${departIATA}"></span> &emsp;->&emsp;
        <span th:text="${departDuration}">&emsp;</span> &emsp;->&emsp;
        <span th:text="${departArrivalTime}"></span> &nbsp;
        <span th:text="${departDestinationIATA}"></span>
    </p>
    <p><span th:text="${departDate}"></span>&emsp;&emsp;&emsp;<span th:text="${departDate}"></span></p>
    <p><span th:text="${placeA}"></span>&emsp;&emsp;<span th:text="${placeB}"></span></p><br><br>


    <p>Return &emsp;<span th:text="${flightNumberReturn}"></span>&emsp;<span th:text="${returnDate}"></span></p>
    <p><span th:text="${returnTime}"></span>&nbsp;<span th:text="${departDestinationIATA}"></span> &emsp;->&emsp;
        <span th:text="${returnDuration}"></span> &emsp;->&emsp;
        <span th:text="${returnArrivalTime}"></span> &nbsp;
        <span th:text="${departIATA}"></span>
    </p>
    <p><span th:text="${returnDate}"></span>&emsp;&emsp;<span th:text="${returnDate}"></span></p>
    <p><span th:text="${placeB}"></span>&emsp;&emsp;<span th:text="${placeA}"></span></p><br><br>

    <br><p>-------------------------------------------------------</p><br>

    <p>Price summary</p>
    <p>Traveller: 1 adult - total price</p>
    <p>Flight $<span th:text="${cost}"></span></p>
    <p>Taxes and fees $<span th:text="${taxes}"></span> </p>
    <p>Flight total: $<span th:text="${total}"></span></p>

    <br><p>-------------------------------------------------------</p><br>

</body>
</html>