<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flight</title>

    <style>
        .seat { width: 30px; height: 30px; border: 1px solid #000;
            display: inline-block; margin: 2px; cursor: pointer; }
    .selected { background-color: green; }
    </style>
</head>
<body>
<!--        Done-->
    <div>
        <h1>Your trip to <span th:text="${destinationCity}"></span></h1>
        <p>Departure &emsp;<span th:text="${departFlightNumber}"></span>&emsp;<span th:text="${departDate}"></span></p>
        <p><span th:text="${departTime}"></span>&emsp;<span th:text="${departIATA}"></span> &emsp;->&emsp;
            <span th:text="${departDuration}">&emsp;</span> &emsp;->&emsp;
            <span th:text="${departArrivalTime}"></span> &nbsp;
            <span th:text="${departDestinationIATA}"></span>
        </p>
        <p><span th:text="${departDate}"></span>&emsp;&emsp;&emsp;<span th:text="${departDate}"></span></p>
        <p><span th:text="${placeA}"></span>&emsp;&emsp;<span th:text="${placeB}"></span></p><br><br>


        <p>Return &emsp;<span th:text="${flightNumberReturn}"></span>&emsp;<span th:text="${returnDate}"></span></p>
        <p><span th:text="${returnTime}"></span>&nbsp;<span th:text="${departDestinationIATA}"></span> &emsp;->&emsp;
            <span th:text="${returnDuration}"></span> &emsp;->&emsp;
            <span th:text="${returnArrivalTime}"></span> &nbsp;
            <span th:text="${departIATA}"></span>
        </p>
        <p><span th:text="${returnDate}"></span>&emsp;&emsp;<span th:text="${returnDate}"></span></p>
        <p><span th:text="${placeB}"></span>&emsp;&emsp;<span th:text="${placeA}"></span></p><br><br>



        <br><p>-------------------------------------------------------</p><br>

        <p>Price summary</p>
        <p>Traveller: 1 adult - total price</p>
        <p>Flight $<span th:text="${cost}"></span></p>
        <p>Taxes and fees $<span th:text="${taxes}"></span> </p>
        <p>Flight total: $<span th:text="${total}"></span></p>

        <br><p>-------------------------------------------------------</p><br>

    </div>

    <p>Passenger 1</p>

    <form id="form1">
        First name <input name="firstName" type="text"><br>
        Middle name <input name="middleName" type="text"><br>
        Last name <input name="lastName" type="text"><br>
        Gender <input name="gender" type="text"><br>
<br>
        Date of birth<br>
        Month <input name="month" type="number"><br>
        Day <input name="day" type="number"><br>
        Year <input name="year" type="number"><br>
    </form>

    <br><br><p>--------------------------</p><br><br>
    <p>Choose your seats</p>

    <form id="form2">
        <div>
            <div class="seat" data-seat-number="1A" onclick="selectSeat(event)">1A</div>
            <div class="seat" data-seat-number="1B" onclick="selectSeat(event)">1B</div>
            <div class="seat" data-seat-number="1A" onclick="selectSeat(event)">1C</div>
            <div class="seat" data-seat-number="1B" onclick="selectSeat(event)">1D</div>
            <div class="seat" data-seat-number="2A" onclick="selectSeat(event)">2A</div>
            <div class="seat" data-seat-number="2B" onclick="selectSeat(event)">2B</div>
            <div class="seat" data-seat-number="1A" onclick="selectSeat(event)">2C</div>
            <div class="seat" data-seat-number="1B" onclick="selectSeat(event)">2D</div>
        </div>
        <input type="hidden" id="selectedSeats" name="selectedSeats">
    </form>

    <br><br><p>--------------------------</p><br><br>
    <p>Payment method</p>
    <form id="form3">
        Credit card details
        Name on card <input name="nameOnCard" type="text"><br>
        Card number<input name="cardNumber" type="text"><br>
        Expiration date<input name="expirationDate" type="text"><br>
        CVV<input name="cvv" type="text"><br>
    </form>

<br><br><p>--------------------------</p><br><br>


    <form id="combinedForm" action="/confirmation" method="post">
        <input type="hidden" name="firstName" id="hiddenFirstName">
        <input type="hidden" name="middleName" id="hiddenMiddleName">
        <input type="hidden" name="lastName" id="hiddenLastName">
        <input type="hidden" name="gender" id="hiddenGender">
        <input type="hidden" name="month" id="hiddenMonth">
        <input type="hidden" name="day" id="hiddenDay">
        <input type="hidden" name="year" id="hiddenYear">
        <input type="hidden" name="selectedSeats" id="hiddenSelectedSeats">
        <input type="hidden" name="nameOnCard" id="hiddenNameOnCard">
        <input type="hidden" name="cardNumber" id="hiddenCardNumber">
        <input type="hidden" name="expirationDate" id="hiddenExpirationDate">
        <input type="hidden" name="cvv" id="hiddenCVV">
        <button type="submit" onclick="submitAllForms()">Confirm and pay</button>

    </form>

    <br><br><p>--------------------------</p><br><br>

    <script>
        function selectSeat(event) {
            event.target.classList.toggle('selected');
            updateSelectedSeats();
        }
        function updateSelectedSeats() {
            let selectedSeats = [];
            document.querySelectorAll('.seat.selected').forEach(function(seat) {
                selectedSeats.push(seat.getAttribute('data-seat-number'));
            });
            document.getElementById('selectedSeats').value = selectedSeats.join(',');
        }

        function submitAllForms() {
            const form1 = document.getElementById('form1');
            const formData1 = new FormData(form1);

            const form2 = document.getElementById('form2');
            const formData2 = new FormData(form2);

            const form3 = document.getElementById('form3');
            const formData3 = new FormData(form3);

            // Створюємо новий FormData для об'єднання всіх даних
            formData1.forEach((value, key) => {
                document.getElementById('hidden' + capitalizeFirstLetter(key)).value = value;
            });
            formData2.forEach((value, key) => {
                document.getElementById('hidden' + capitalizeFirstLetter(key)).value = value;
            });

            formData3.forEach((value, key) => {
                document.getElementById('hidden' + capitalizeFirstLetter(key)).value = value;
            });

            document.getElementById('combinedForm').submit();
        }

        function capitalizeFirstLetter(string) { return string.charAt(0).toUpperCase() + string.slice(1); }

    </script>
</body>
</html>
